// colors
$red: #e03636;
$green: #289b38;

$primary: $green;
$text-primary: #333;
$text-secondary: #999;
$border: #d8d8d8;
$background: #fcfcfc;

// transitions
$transition-base-duration: 0.2s;
$transition-base-timing-function: ease;
