// colors
$primary: #289b38;
$text-primary: #333;
$text-secondary: #999;
$border: #d8d8d8;
$background: #fcfcfc;

// transitions
$transition-base-duration: 0.3s;
$transition-base-timing-function: ease;
