// colors
$red: #e03636 !default;
$orange: #ffb546 !default;
$green: #289b38 !default;

$primary: $orange !default;
$text-primary: #333 !default;
$text-secondary: #999 !default;
$border: #d8d8d8 !default;
$background: #fff !default;

// transitions
$transition-base-duration: 0.2s !default;
$transition-base-timing-function: ease !default;